<a href="https://colab.research.google.com/github/anna4j/Movie-Recommendation-API/blob/master/Jupyter%20Notebook/recommendation_system.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from ast import literal_eval

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [2]:
movies = 'https://github.com/anna4j/Movie-Recommendation-API/blob/master/Raw%20Dataset/TMDB%205000%20Movie%20Dataset/tmdb_5000_movies.csv?raw=true'
data_movies = pd.read_csv(movies ,na_filter=False)

credits = 'https://github.com/anna4j/Movie-Recommendation-API/blob/master/Raw%20Dataset/TMDB%205000%20Movie%20Dataset/tmdb_5000_credits.csv?raw=true'
data_credits = pd.read_csv(credits)

In [3]:
data_credits.columns = ['movie_id','tittle','cast','crew']
data_movies = data_movies.merge(data_credits,on='movie_id')

In [4]:
data_movies.head(3)

      budget  ...                                               crew
0  237000000  ...  [{"credit_id": "52fe48009251416c750aca23", "de...
1  300000000  ...  [{"credit_id": "52fe4232c3a36847f800b579", "de...
2  245000000  ...  [{"credit_id": "54805967c3a36829b5002c41", "de...

[3 rows x 23 columns]

In [5]:
data_movies = data_movies.drop(columns=['tittle', 'tagline', 'status', 'homepage', 
                                        'keywords','crew','vote_count', 'vote_average',
                                       'tagline', 'spoken_languages', 'runtime',
                                       'popularity', 'production_companies', 'budget',
                                       'production_countries', 'release_date', 'revenue',
                                        'title', 'original_language'])

data_movies.head(2)

                                              genres  ...                                               cast
0  [{"id": 28, "name": "Action"}, {"id": 12, "nam...  ...  [{"cast_id": 242, "character": "Jake Sully", "...
1  [{"id": 12, "name": "Adventure"}, {"id": 14, "...  ...  [{"cast_id": 4, "character": "Captain Jack Spa...

[2 rows x 5 columns]

In [6]:
features = ['cast', 'genres']
for feature in features:
    data_movies[feature] = data_movies[feature].apply(literal_eval)

In [7]:
def get_list(meta_data):
    if isinstance(meta_data, list):
        names = [col['name'] for col in meta_data]
        #Check if more than 3 elements exist. If yes, return only first three. If no, return entire list.
        if len(names) > 3:
            names = names[:3]
        return names

    #Return empty list in case of missing/malformed data
    return []

features = ['cast','genres']
for feature in features:
    data_movies[feature] = data_movies[feature].apply(get_list)

In [8]:
data_movies.head(2)

                         genres  ...                                              cast
0  [Action, Adventure, Fantasy]  ...  [Sam Worthington, Zoe Saldana, Sigourney Weaver]
1  [Adventure, Fantasy, Action]  ...     [Johnny Depp, Orlando Bloom, Keira Knightley]

[2 rows x 5 columns]

In [9]:
#data_movies['cast'] = data_movies['cast'].fillna('[]').apply(literal_eval).apply(lambda x: [i['name'] for i in x if len(name)>3])
#data_movies['genres'] = data_movies['genres'].fillna('[]').apply(literal_eval).apply(lambda x: [i['name'] for i in x if len(name)>3])

#data_movies.head(2)

In [10]:
hindi_movies = 'https://github.com/anna4j/Movie-Recommendation-API/blob/master/Raw%20Dataset/The%20Indian%20Movie%20Database/Final/bollywood_full_1950-2019.csv?raw=true'
data_movies_hindi = pd.read_csv(hindi_movies, na_filter=False)

data_movies_hindi.head(2)

                    title_x  ...             release_date
0  Uri: The Surgical Strike  ...    11 January 2019 (USA)
1             Battalion 609  ...  11 January 2019 (India)

[2 rows x 18 columns]

In [11]:
data_movies_hindi = data_movies_hindi.drop(columns=['title_x', 'tagline', 'poster_path', 
                                        'wiki_link','title_y','is_adult', 'year_of_release',
                                       'tagline', 'imdb_rating', 'runtime',
                                       'imdb_votes', 'story',
                                       'wins_nominations', 'release_date'])

data_movies_hindi.rename(columns = {'actors':'cast', 'imdb_id':'movie_id'}, inplace = True)

data_movies_hindi['genres'] = data_movies_hindi['genres'].str.split('|')

data_movies_hindi['cast'] = data_movies_hindi['cast'].str.split('|')

data_movies_hindi = data_movies_hindi.drop([697])

data_movies_hindi.head()

    movie_id  ...                                               cast
0  tt8291224  ...  [Vicky Kaushal, Paresh Rawal, Mohit Raina, Yam...
1  tt9472208  ...  [Vicky Ahuja, Shoaib Ibrahim, Shrikant Kamat, ...
2  tt6986710  ...  [Anupam Kher, Akshaye Khanna, Aahana Kumra, At...
3  tt8108208  ...  [Emraan Hashmi, Shreya Dhanwanthary, Snighdade...
4  tt6028796  ...  [Mona Ambegaonkar, Ananth Narayan Mahadevan, D...

[5 rows x 5 columns]

In [12]:
def clean_data(actors):
    if isinstance(actors, list):
        return actors[:3]

features = ['cast']
for feature in features:
    data_movies_hindi[feature] = data_movies_hindi[feature].apply(clean_data)

data_movies_hindi.head()

    movie_id  ...                                               cast
0  tt8291224  ...         [Vicky Kaushal, Paresh Rawal, Mohit Raina]
1  tt9472208  ...      [Vicky Ahuja, Shoaib Ibrahim, Shrikant Kamat]
2  tt6986710  ...        [Anupam Kher, Akshaye Khanna, Aahana Kumra]
3  tt8108208  ...  [Emraan Hashmi, Shreya Dhanwanthary, Snighdade...
4  tt6028796  ...  [Mona Ambegaonkar, Ananth Narayan Mahadevan, D...

[5 rows x 5 columns]

In [13]:
data_movies_hindi.isnull().sum()

movie_id          0
original_title    0
genres            0
summary           0
cast              0
dtype: int64

In [14]:
combine = data_movies.append(data_movies_hindi, ignore_index=True, sort=True)

combine = combine.drop([5160])

#combine['plot'] = combine[['overview', 'summary']].apply(lambda x: ' '.join(x), axis = 1) 

#combine = combine.drop(['summary','overview'],axis=1)

combine  #5160

                                                  cast  ...                                            summary
0     [Sam Worthington, Zoe Saldana, Sigourney Weaver]  ...                                                NaN
1        [Johnny Depp, Orlando Bloom, Keira Knightley]  ...                                                NaN
2         [Daniel Craig, Christoph Waltz, LÃ©a Seydoux]  ...                                                NaN
3         [Christian Bale, Michael Caine, Gary Oldman]  ...                                                NaN
4       [Taylor Kitsch, Lynn Collins, Samantha Morton]  ...                                                NaN
...                                                ...  ...                                                ...
9127        [Ashok Kumar, Nalini Jaywant, Kuldip Kaur]  ...  The story is based on the true incident at INA...
9128              [Ashok Kumar, Nalini Jaywant, Nawab]  ...  After the death of his wife  a policeman fails...
9129                  [Raj Kapoor, Rehana, Om Prakash]  ...                                       Add a PlotÂ Â»
9130           [Sohrab Modi, Naseem Banu, Pushpa Hans]  ...  Thakur Jaspal Singh lives in the prestigious a...
9131                                                []  ...                                       Add a PlotÂ Â»

[9131 rows x 6 columns]

In [15]:
combine.to_csv('movie_data_test.csv', index=False)

In [16]:
pd.set_option('display.max_rows', None)

final_data = pd.read_csv('movie_data_test.csv', na_filter=False)

final_data['plot'] = final_data[['overview', 'summary']].apply(lambda x: ' '.join(x), axis = 1) 

final_data = final_data.drop(['summary','overview'],axis=1)

final_data = final_data[:-1]

In [17]:
final_data.head(5)

                                                cast  ...                                               plot
0  ['Sam Worthington', 'Zoe Saldana', 'Sigourney ...  ...  In the 22nd century, a paraplegic Marine is di...
1  ['Johnny Depp', 'Orlando Bloom', 'Keira Knight...  ...  Captain Barbossa, long believed to be dead, ha...
2  ['Daniel Craig', 'Christoph Waltz', 'LÃ©a Seydo...  ...  A cryptic message from Bondâ€™s past sends him o...
3  ['Christian Bale', 'Michael Caine', 'Gary Oldm...  ...  Following the death of District Attorney Harve...
4  ['Taylor Kitsch', 'Lynn Collins', 'Samantha Mo...  ...  John Carter is a war-weary, former military ca...

[5 rows x 5 columns]

In [18]:
final_data.to_csv('movie_data_final.csv', index = False)

In [19]:
from google.colab import files
files.download('movie_data_final.csv')